services/DBService_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="DBService"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="DBServiceOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="DBServiceOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="DBServiceOperationRequest">
		<wsdl:part name="parameters" element="tns:DBServiceOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="DBServiceOperationResponse">
		<wsdl:part name="parameters" element="tns:DBServiceOperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="DBServicePortType">
		<wsdl:operation name="DBServiceOperation">
			<wsdl:input message="tns:DBServiceOperationRequest"></wsdl:input>
			<wsdl:output message="tns:DBServiceOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="DBServiceBinding" type="tns:DBServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="DBServiceOperation">
			<soap:operation soapAction="http://www.talend.org/service/DBServiceOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="DBService">
		<wsdl:port name="DBServicePort" binding="tns:DBServiceBinding">
			<soap:address location="http://localhost:8090/services/DBService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>